<!DOCTYPE html>
<html>
<head>
    <!-- Use the 'title' property to render a page title  -->
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/loginstyle.css" />
    <link rel="stylesheet" type="text/css" href="css/display.css" />

</head>
<body>
	<!-- Render the signup form  -->
    <form action="/CreateCourse" method="post">
        <div class="outer_container">
            <h2> Creating a new Course </h2>

            <div class="container">
                <label>Course Code:</label>
                <input type="text" class="fields" name="courseCode" />
            </div>
            <div class="container">
                <label>Course Name:</label>
                <input type="text" class="fields" name="courseName" />
            </div>
            <div class="container">
                <label>Section:</label>
                <input type="text" class="fields" name="section" />
            </div>
            <div class="container">
                <label>Semester:</label>
                <input type="text" class="fields" name="semester" />
            </div>
            <div class="container">
                <button type="submit" class="form-field-no-caption">Create a Course</button>
            </div>
        </div>
    </form>
    
</body>
</html>